.docPage {
  background  : #fefefe;
  color       : #202020;
}

.docs-demo {
  margin-top     : 3rem;
  margin-bottom  : 2rem;
}

.half-lead {
  font-size    : 1.8rem;
  line-height  : 1.6;
  margin       : 1rem 0 0.5rem 0;
}
