extends ../../layout/templates

append ExtraHeader
  //-  Custom styles for this template
  link(href= path + "www/css/carousel.css", rel="stylesheet")
  style.
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }


append config
    - var title = "Blog Template"
    - var metaDesc = "Grid Based Blog Template. Sticky Cool!"
    - var parent = 'templates'
    - var slug = 'blog'
    - var bsbjs = true

block content
  header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.make-bg-dark
      .container-fluid
        a.navbar-brand(href="#") Carousel
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarCollapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            li.nav-item
              a.nav-link.active(aria-current="page", href="#") Home
            li.nav-item
              a.nav-link(href="#") Link
            li.nav-item
              a.nav-link.disabled Disabled
          form.make-flex(role="search")
            input.form-control.me-2(type="search", placeholder="Search", aria-label="Search")
            button.btn.btn-outline-success(type="submit") Search
  main
    #myCarousel.carousel.slide(data-bs-ride="carousel")
      .carousel-indicators
        button.active(type="button", data-bs-target="#myCarousel", data-bs-slide-to="0", aria-current="true", aria-label="Slide 1")
        button(type="button", data-bs-target="#myCarousel", data-bs-slide-to="1", aria-label="Slide 2")
        button(type="button", data-bs-target="#myCarousel", data-bs-slide-to="2", aria-label="Slide 3")
      .carousel-inner
        .carousel-item.active
          svg.bd-placeholder-img(width="100%", height="100%", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", preserveAspectRatio="xMidYMid slice", focusable="false")
            rect(width="100%", height="100%", fill="#777")
          .container
            .carousel-caption.text-start
              h1 Example headline.
              p Some representative placeholder content for the first slide of the carousel.
              p
                a.btn.btn-lg.btn-primary(href="#") Sign up today
        .carousel-item
          svg.bd-placeholder-img(width="100%", height="100%", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", preserveAspectRatio="xMidYMid slice", focusable="false")
            rect(width="100%", height="100%", fill="#777")
          .container
            .carousel-caption
              h1 Another example headline.
              p Some representative placeholder content for the second slide of the carousel.
              p
                a.btn.btn-lg.btn-primary(href="#") Learn more
        .carousel-item
          svg.bd-placeholder-img(width="100%", height="100%", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", preserveAspectRatio="xMidYMid slice", focusable="false")
            rect(width="100%", height="100%", fill="#777")
          .container
            .carousel-caption.text-end
              h1 One more for good measure.
              p Some representative placeholder content for the third slide of this carousel.
              p
                a.btn.btn-lg.btn-primary(href="#") Browse gallery
      button.carousel-control-prev(type="button", data-bs-target="#myCarousel", data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous
      button.carousel-control-next(type="button", data-bs-target="#myCarousel", data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next

    //-  Marketing messaging and featurettes
    //-  ==================================================
    //-  Wrap the rest of the page in another container to center all the content.
    .container.marketing
      //-  Three columns of text below the carousel
      .row
        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width="140", height="140", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 140x140", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#777")
            text(x="50%", y="50%", fill="#777", dy=".3em") 140x140
          h2.fw-normal Heading
          p Some representative placeholder content for the three columns of text below the carousel. This is the first column.
          p
            a.btn.btn-secondary(href="#") View details »
        //-  /.col-lg-4
        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width="140", height="140", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 140x140", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#777")
            text(x="50%", y="50%", fill="#777", dy=".3em") 140x140
          h2.fw-normal Heading
          p Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
          p
            a.btn.btn-secondary(href="#") View details »
        //-  /.col-lg-4
        .col-lg-4
          svg.bd-placeholder-img.rounded-circle(width="140", height="140", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 140x140", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#777")
            text(x="50%", y="50%", fill="#777", dy=".3em") 140x140
          h2.fw-normal Heading
          p And lastly this, the third column of representative placeholder content.
          p
            a.btn.btn-secondary(href="#") View details »
        //-  /.col-lg-4
      //-  /.row
      //-  START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading.fw-normal.lh-1
            | First featurette heading.
            span.text-medium It’ll blow your mind.
          p.lead Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        .col-md-5
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width="500", height="500", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 500x500", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#eee")
            text(x="50%", y="50%", fill="#aaa", dy=".3em") 500x500
      hr.featurette-divider
      .row.featurette
        .col-md-7.order-md-2
          h2.featurette-heading.fw-normal.lh-1
            | Oh yeah, it’s that good.
            span.text-medium See for yourself.
          p.lead Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.
        .col-md-5.order-md-1
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width="500", height="500", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 500x500", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#eee")
            text(x="50%", y="50%", fill="#aaa", dy=".3em") 500x500
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading.fw-normal.lh-1
            | And lastly, this one.
            span.text-medium Checkmate.
          p.lead And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.
        .col-md-5
          svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width="500", height="500", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 500x500", preserveAspectRatio="xMidYMid slice", focusable="false")
            title Placeholder
            rect(width="100%", height="100%", fill="#eee")
            text(x="50%", y="50%", fill="#aaa", dy=".3em") 500x500
      hr.featurette-divider
      //-  /END THE FEATURETTES

    //-  FOOTER
    footer.container
      p.float-end
        a(href="#") Back to top
      p
        | © 2017–2022 Company, Inc. ·
        a(href="#") Privacy
        |  ·
        a(href="#") Terms
