extends ../../layout/doc

append config
  - var icon = "gear"
  - var slug = 'badges'
  - var parent = 'components'
  - var title = 'Badges - Components - Mojo Framework'
  - var metaDesc = 'Badges are often used as unread number indicators. Mojo Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block content
  +docs-heading('badges', 'Badges')

  p Badges are often used as unread number indicators.

  .docs-demo
    .container
      .row
        .col-sm-3.col-xs-6
          span.badge(data-badge="")
            | Notifications
        .col-sm-3.col-xs-6
          span.badge(data-badge="8")
            | Notifications
        .col-sm-3.col-xs-6
          span.badge(data-badge="88")
            | Notifications
        .col-sm-3.col-xs-6
          span.badge(data-badge="888")
            | Notifications

  p
    | Add the #[code badge] class to non self closing elements.
    | And add the #[code data-badge] attribute to define the content of a badge.
    | The badge will appear in the top-right direction of the element.
  p
    | If there is no #[code data-badge] or the attribute is not specified, the badge will appear as a dot.

  .docs-demo
    .container
      .row
        .col.col-sm-12
          button.btn.badge(data-badge="") Button
          button.btn.badge(data-badge="8") Button
        .col.col-sm-12
          button.btn.btn-primary.badge(data-badge="") Button
          button.btn.btn-primary.badge(data-badge="8") Button
        .col.col-sm-12
          figure.avatar.avatar-xl.badge(data-badge="8" data-initial="YZ")
            img(src="../img/avatar-1.png" alt="YZ")
          figure.avatar.avatar-lg.badge(data-badge="8" data-initial="YZ")
            img(src="../img/avatar-2.png" alt="YZ")
          figure.avatar.badge(data-badge="8" data-initial="YZ")
            img(src="../img/avatar-3.png" alt="YZ")

  p
    | Badges support #[code button] and #[code avatars] elements as well.

  :highlightify(lang="html")
    <span class="badge">
      Notifications
    </span>

    <span class="badge" data-badge="8">
      Notifications
    </span>

    <button class="btn badge" data-badge="8">
      Button
    </button>

    <figure class="avatar badge" data-badge="8" data-initial="YZ">
      <img src="img/avatar-3.png" alt="YZ">
    </figure>
