extends ../../layout/doc

append config
  - var icon = "gear"
  - var metaDesc = 'The Hero container shows key featured content or information. Mojo Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'
  - var parent = 'components'
  - var slug = 'lists'
  - var title = 'Lists - Components - Mojo Framework'


block content
  +docs-heading('lists', 'Lists')

  p.doc-intro
    | Blank container shows key featured content or information.

  div.p-5
    label ul
    ul
      li List Example A
      li List Example B
      li List Example C
      li List Example D
      li List Example E

    label ol
    ol
      li List Example A
      li List Example B
      li List Example C
      li List Example D
      li List Example E

    label dl
    dl
      dt Male writers:
      dd Ernest Hemingway
      dd Carlos Drummond
      dt Female writers:
      dd Virgínia Woolf
      dd Hilda Hilst


  :highlightify(lang="html")
    <ul>
      <li>List Example A</li>
      <li>List Example B</li>
      <li>List Example C</li>
      <li>List Example D</li>
      <li>List Example E</li>
    </ul>
