extends ../../layout/doc

append config
  - var slug = 'nav-menu'
  - var parent = 'components'
  - var title = 'Nav & Menus - Components - Mojo Framework'
  - var icon = "gear"
  - var metaDesc = 'From simple navigtion via listed links, to complex menus, which are vertical lists of links or buttons, actions and navigation in the Mojo Framework is a lightweight, responsive and fast. Perfect for extensible development.'

block content

  +docs-heading('nav-menu', "Navs & Menus")

  p.doc-intro #{metaDesc}

  +docs-subheading('navs', 'Navs')

  p.
    The base .nav component is built with flexbox and provide a strong foundation for building all types of navigation components. It includes some style overrides (for working with lists), some link padding for larger hit areas, and basic disabled styling.

  p.
    The base .nav component does not include any .active state. The following examples include the class, mainly to demonstrate that this particular class does not trigger any special styling.

    To convey the active state to assistive technologies, use the aria-current attribute — using the page value for current page, or true for the current item in a set.

  :codeblock(lang="html")
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>

  +docs-subheading('menu', 'Menu')

  p.doc-intro
    | Menus are vertical list of links or buttons for actions and navigation.

  .docs-demo.container
    .row.gx-5
      .col.col-md-4
        ul.menu
          li.menu-item
            .tile.tile-centered
              .tile-icon
                img.avatar(src="../imgs/RainbowSmile.png" alt="Avatar")
              .tile-content
                | Jolly Robot
          li.divider
          li.menu-item
            a.active(href="#menus")
              | Robo Profile
            .menu-badge
              label.form-checkbox
                input(type="checkbox")
                i.form-icon
                | Public
          li.menu-item
            a(href="#menus")
              | Settings
            .menu-badge
              label.label.label-primary 2
          li.menu-item
            a(href="#menus")
              | Logout
      .col.col-md-4
        ul.menu
          li.divider(data-content="LINKS")
          li.menu-item
            a(href="#menus") Geo Cities
          li.menu-item
            a(href="#menus") MySpace
          li.menu-item
            a(href="#menus") AOL Online
      .col.col-md-4
        ul.menu
          li.menu-item
            label.form-checkbox
              input(type="checkbox" checked="")
              i.form-icon
              |  form-checkbox
          li.menu-item
            label.form-radio
              input(type="radio" checked="")
              i.form-icon
              |  form-radio
          li.menu-item
            label.form-switch
              input(type="checkbox" checked="")
              i.form-icon
              |  form-switch

  p
    | Add a container element with the #[code menu] class.
    | And add child elements with the #[code menu-item] class.
    | You can separate menu items with a #[code divider].
    | Spectre.css does not include JavaScript code, you will need to implement your JS to interact with the menus.
  p
    | Menus also have #[a(href="../elements/forms.html" target="_blank") Form controls] (checkbox, radio and checkbox) support.

  :highlightify(lang="html")
    <ul class="menu">
      <!-- menu header text -->
      <li class="divider" data-content="LINKS">
      </li>
      <!-- menu item standard -->
      <li class="menu-item">
        <a href="#">
          <i class="icon icon-link"></i> Geo Cities
        </a>
      </li>
      <!-- menu item with form control -->
      <li class="menu-item">
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </li>
      <!-- menu divider -->
      <li class="divider"></li>
      <!-- menu item with badge -->
      <li class="menu-item">
        <a href="#">
          <i class="icon icon-link"></i> Settings
        </a>
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
      </li>

      <li class="menu-item">
        <a href="#">My profile</a>
        <div class="menu-badge">
          <label class="form-checkbox">
            <input type="checkbox">
            <i class="form-icon"></i> Public
          </label>
        </div>
      </li>
    </ul>
