include ../config
block config
include ../mixins/global

append config
    - var cssFile = package.codeName

doctype html
html(lang= lang)
    head
        include ./top

    body(class='no-javascript')
        script document.body.classList.remove('no-javascript');

        div(class= superClass)
            div.container-fluid.mojoWebsite.no-gutters
                .container
                    .row
                        .col-12
                            +navbar(pages)

                block content

                include ../partials/footer


            if highlight
                script(src=path+"js/highlight.js")
            if prism
                script(src=path+"js/prism.js")

            block scriptsJS

            if showDebug
                include ../partials/debugger
