include ../partials/meta
include ../partials/head

if highlight
  link(rel="stylesheet", href=path+"css/highlight.css" type="text/css" id="highlight_css")
if prism
  link(rel="stylesheet", href=path+"css/prism.css" type="text/css" id="prism_css")
