//- Doc Site information
- var path = '../'
- var imgPath = '../imgs/'
- var pathTokens = '../tokens/'
//- var cssFile = 'plume-all'
- var cssFile = package.codeName

//- Page information
- var title = title || '@huement/ui Documentation'
- var metaDesc = metaDesc || '@huement/ui is a simple framework for ensuring vertical rhythm, modular scaling typography, design token integration + generation and a few more nice to haves when developing or mocking up an idea quickly'

- var envURL = envData.url || "/"

- var topLinks = [ {text: 'Github', url: 'https://github.com/huement/ui', icon: false, color: 'dark'}, {text: '@hui', url: envURL+'index.html', icon: false, color: 'secondary'}, {text: 'Huement', url: 'http://localhost',icon: false, color: 'primary'} ]
- var topSearch = true

- var showRobot = false
